.dg * {
  pointer-events: auto;
}
.dg.ac {
  z-index: 999 !important;
}
.dg.ac .close-button,
.dg.ac .property-name {
  color: #fff;
}
.hiding {
  position: absolute !important;
}
.hidden {
  visibility: hidden !important;
  opacity: 0;
}
.scrollable {
  z-index: 1;
  width: 100%;
}
.is-mobile .scrollable {
  overflow: hidden;
}
.page-wrapper {
  min-height: 100vh;
}
.prllx {
  overflow: hidden;
}
.grabbing {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.softShadow {
  -webkit-box-shadow: 0 0 48px -6px rgba(0, 0, 0, 0.29);
  box-shadow: 0 0 48px -6px rgba(0, 0, 0, 0.29);
}
.softTextShadow {
  text-shadow: 0 0 10px hsla(0, 0%, 58.8%, 0.79);
}
.bgCover {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.expo {
  position: absolute;
  top: 0.6em;
  right: 1.1em;
  font-size: 2.4vmin;
  line-height: 1;
  padding-bottom: 0.3em;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.embed-container embed,
.embed-container iframe,
.embed-container object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.header {
  z-index: 9;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  font-size: 0.90278vw;
  line-height: 1.6;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  opacity: 0;
}
.is-mobile .header {
  position: absolute;
  height: 100vh;
}
.header .logo {
  position: relative;
  pointer-events: auto;
  display: inline-block;
  margin-left: 4.16667%;
  margin-top: 4.5rem;
  width: 5.7rem;
  overflow: hidden;
}
.is-mobile .header .logo {
  margin-left: 8.33333%;
  margin-top: 3.5rem;
  width: 6.4rem;
}
.header .logo svg {
  fill: #fff;
}
.header .logo span {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.header .button {
  z-index: 2;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  white-space: nowrap;
  background: #2c71f6;
  color: #fff;
  border-radius: 3em;
  padding: 0 0.85em;
  height: 2.2em;
  margin-left: 0.65em;
}
.is-mobile .header .button {
  position: absolute;
  bottom: 12vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 6.66667vw;
  padding: 0 0.55em;
  min-width: 76vw;
  margin: 0;
  display: none;
}
.header a.button:hover {
  color: #fff;
  opacity: 1;
}
.header nav {
  pointer-events: auto;
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 4rem;
  right: 4.16667%;
  color: inherit;
}
.header nav .header_menu {
  position: relative;
  overflow: hidden;
}
.header nav a {
  font-size: 1.4rem;
  padding: 0.1em 0.55em;
  color: inherit;
  opacity: 1;
}
.is-mobile .header nav a:last-child {
  padding-right: 0;
}
@media (hover: hover) {
  .header nav a:hover {
    opacity: 0.65;
  }
}
.header .qr-ball {
  position: absolute;
  left: 0;
  top: 0;
  width: 20.53333vw;
  height: 20.53333vw;
  border-radius: 50%;
  background: #fff;
  mix-blend-mode: difference;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}
.footer {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 3;
}
#getpaidfast .footer {
  display: none;
}
#not-found .footer,
.footer_video {
  position: absolute;
  left: 0;
  top: 0;
}
.footer_video {
  width: inherit;
  height: inherit;
  overflow: hidden;
  opacity: 0.9999;
}
#not-found .footer_video video {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.footer .home_titles {
  pointer-events: none;
}
.is-mobile .footer .home_titles {
  font-size: 9.33333vw;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-top: 9vw;
}
#not-found .footer .home_titles {
  display: none;
}
.footer .home_titles .title {
  pointer-events: auto;
}
.footer_cta {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
  background: #2c71f6;
  color: #fff;
  border-radius: 3em;
  padding: 0 0.85em;
  height: 2.2em;
  font-size: 0.97222vw;
  margin-top: 2vw;
}
.is-mobile .footer_cta {
  font-family: Circular Pro Book, sans-serif;
  letter-spacing: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 6.66667vw;
  width: 79.16667%;
  height: 2.5em;
  margin-top: 7vw;
  position: absolute;
  left: 0;
  bottom: 41vw;
}
#not-found .footer_cta {
  display: none;
}
.footer_bottom {
  position: absolute;
  bottom: 0;
  left: 4.16667%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 91.66667%;
  margin-bottom: 3vw;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
}
.is-mobile .footer_bottom {
  z-index: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  margin-bottom: 6vw;
}
.footer_bottom .powered-by {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.4em 0;
}
.is-mobile .footer_bottom .powered-by {
  display: none;
}
.footer_bottom .copyright {
  margin: auto;
  opacity: 0.5;
  padding: 0.4em 0;
}
.footer_bottom nav {
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}
.is-mobile .footer_bottom nav {
  position: relative;
  margin: auto auto 3.5vw;
  font-size: 1.4rem;
}
.footer_bottom nav a {
  padding: 0.4em 0.65em;
}
.footer_bottom nav .langs {
  margin-left: 0.65em;
}
.footer_bottom .lang-select {
  font: inherit;
  font-size: inherit;
  letter-spacing: inherit;
}
.footer_bottom .lang-select-btn {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.4em 0 0.4em 0.65em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.footer_bottom .lang-select-btn .icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 0.5em;
  margin-top: 0.5rem;
}
.footer_bottom .lang-select-list {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
.footer_bottom .lang-select-list ul {
  padding-bottom: 1em;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.footer_bottom .lang-select-list ul li {
  background: #2c71f6;
}
.footer_bottom .lang-select-list ul li a {
  display: block;
  padding: 0.75em 1em;
  opacity: 0.8;
}
.footer_bottom .lang-select-list ul li a:hover {
  opacity: 1;
}
.footer_bottom .lang-select-list ul li:last-child a {
  padding-bottom: 1.2em;
}
.loader {
  background: #0163ac;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.38889vw;
  color: #fff;
  opacity: 1;
}
.video-background {
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
  height: inherit;
  overflow: hidden;
}
.video-background video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.is-edge .video-background video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.page_header {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Circular Pro Medium, sans-serif;
  line-height: 1;
  padding: 13vw 0 1.5vw;
  text-align: center;
}
.is-mobile .page_header {
  padding-top: 50vw;
}
.page_header .title {
  font-size: 8.68056vw;
}
.is-mobile .page_header .title {
  font-size: 17.33333vw;
  line-height: 1.1;
  width: 91.66667%;
  margin: auto;
}
.page_header .baseline {
  color: #1997fc;
  font-size: 1.38889vw;
  margin-top: 1vw;
}
.is-mobile .page_header .baseline {
  font-size: 5.33333vw;
  width: 91.66667%;
  margin: 3vw auto auto;
}
.page_content {
  position: relative;
  width: 41.66667%;
  margin: auto;
  padding-bottom: 9vw;
}
.is-mobile .page_content {
  width: 83.33333%;
  margin-top: 15vw;
  margin-bottom: 18vw;
}
.page_content h2 {
  font-size: 1.38889vw;
  font-family: Circular Pro Medium, sans-serif;
  margin-top: 4vw;
}
.is-mobile .page_content h2 {
  font-size: 5.33333vw;
  margin-top: 12vw;
}
.page_content p {
  font-size: 0.97222vw;
  line-height: 1.6;
  color: #fff;
  margin-top: 1.4vw;
}
.is-mobile .page_content p {
  font-size: 3.73333vw;
  margin-top: 6vw;
}
.page_gif {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.page_gif video {
  width: 41.66667%;
}
.is-mobile .page_gif video {
  width: 100%;
}
.arrow-bottom {
  width: 1.7rem;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  position: absolute;
  right: 4.1vw;
  bottom: 4rem;
}
.is-mobile .arrow-bottom {
  display: none;
}
.home_titles {
  z-index: 2;
  font-family: Circular Pro Medium, sans-serif;
  position: relative;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-left: 8.33333%;
}
.is-mobile .home_titles {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.home_titles strong {
  font-weight: inherit;
  color: #2c71f6;
}
.home_titles .title {
  font-size: 4.86111vw;
  line-height: 1.2;
}
.is-mobile .home_titles .title {
  font-size: 9.33333vw;
}
.de-DE.is-mobile .home_titles .title,
.nl-NL.is-mobile .home_titles .title {
  font-size: 7.33333vw;
  line-height: 1;
}
.home_titles .baseline {
  font-size: 1.11111vw;
  line-height: 1.2;
  margin-top: 1.8vw;
}
.home_titles .baseline strong {
  color: #2c71f6;
}
.is-mobile .home_titles .baseline {
  font-size: 4.26667vw;
  margin-right: 8.33333%;
  margin-bottom: 37vw;
}
.home_intro {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #fff;
}
.home_intro .home_titles .title {
  margin-top: 5.8vw;
}
.home_intro_videos {
  width: inherit;
  height: inherit;
  opacity: 0.9999;
}
.home_intro_videos .intro {
  z-index: 1;
}
.home_intro_videos .intro-loop {
  opacity: 0;
}
.home_create {
  padding: 12vh 0 5vh;
  background: #151515;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.home_create .home_titles {
  width: inherit;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  margin-left: 0;
  height: auto;
  flex: 1;
}
.home_create .home_titles .title {
  font-size: 8.68056vw;
  line-height: 1;
}
.is-mobile .home_create .home_titles .title {
  font-size: 17.33333vw;
  margin-top: 42vw;
  line-height: 1.1;
}
.de-DE.is-mobile .home_create .home_titles .title,
.nl-NL.is-mobile .home_create .home_titles .title {
  font-size: 12.33333vw;
}
.home_create .home_titles .baseline {
  font-size: 1.11111vw;
  line-height: 1.5;
  margin-top: 1.4vw;
}
.is-mobile .home_create .home_titles .baseline {
  font-size: 4.26667vw;
  width: 87.5%;
  margin: 16vw 0 0;
}
.home_create_coins {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.home_create_coins .prllx {
  overflow: visible;
}
.home_create_coins .coins {
  position: absolute;
}
.home_create_coins .coins img,
.home_create_coins .coins video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0.9999;
}
.home_create_coins .coin_1 {
  width: 8.40278%;
  left: 61.7%;
  top: 9.3vw;
}
.is-mobile .home_create_coins .coin_1 {
  width: 32.26667vw;
  top: 28.3vw;
}
.home_create_coins .coin_2 {
  width: 8.68056%;
  left: 17.1%;
  top: 35.5vw;
}
.is-mobile .home_create_coins .coin_2 {
  width: 37vw;
  top: 148vw;
  left: 5%;
}
.home_create_coins .coin_3 {
  width: 9.09722%;
  left: 75.4%;
  top: 36vw;
}
.is-mobile .home_create_coins .coin_3 {
  display: none;
}
.is-tablet .home_create_coins .coin_3 {
  display: block;
}
.home_create_facts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  /* margin-top: 9vw; */
  /* margin-bottom: 3vw; */
}
.is-mobile .home_create_facts {
  z-index: 2;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 48vw;
}
.home_create_facts li {
  width: 17.29167%;
  margin-left: 4.76667%;
}
.is-mobile .home_create_facts li {
  width: 62.5%;
  margin-left: 25%;
  margin-bottom: 10vw;
}
.home_create_facts li:not(:first-child) {
  margin-left: 3.54167%;
}
.is-mobile .home_create_facts li:not(:first-child) {
  margin-left: 25%;
}
.home_create_facts li .title {
  font-family: Circular Pro Medium, sans-serif;
  line-height: 1.2;
  font-size: 1.38889vw;
}
.is-mobile .home_create_facts li .title {
  font-size: 5.33333vw;
}
.home_create_facts li .text {
  font-size: 0.97222vw;
  line-height: 1.6;
  margin-top: 1.2vw;
  color: #fff;
}
.is-mobile .home_create_facts li .text {
  font-size: 3.73333vw;
  margin-top: 5vw;
}
.is-mobile .home_create_facts li .text br {
  display: none;
}
.home_send {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}
.home_send_wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
}
/* ********** CONTENT ************** */
.home1_cona {
  text-align: center;
  position: relative;
  cursor: pointer;
  width: 20%;
  /* padding: 5px 253px 5px 0; */
}

.home1_cona .icon_box,
.home1_cona .icon_box:before,
.home1_cona .icon_box:after {
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  background-color: #2c71f6;
}

.home1_cona .icon_box {
  display: inline-block;
  width: 80px;
  height: 127px;
  line-height: 123px;
  border-top: 2px solid #2c71f6;
  border-bottom: 2px solid #2c71f6;
  -ms-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
.home1_cona .icon_box:before {
  width: 80px;
  height: 127px;
  top: -2px;
  left: 0px;
  content: "";
  position: absolute;
  border-top: 2px solid #2c71f6;
  border-bottom: 2px solid #2c71f6;
  transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  -o-transform: rotate(120deg);
}
.home1_cona .icon_box:after {
  width: 80px;
  height: 127px;
  top: -2px;
  left: 0px;
  content: "";
  position: absolute;
  border-top: 2px solid #2c71f6;
  border-bottom: 2px solid #2c71f6;
  transform: rotate(-120deg);
  -ms-transform: rotate(-120deg);
  -moz-transform: rotate(-120deg);
  -webkit-transform: rotate(-120deg);
  -o-transform: rotate(-120deg);
}
.home1_cona .icon_box span.fa {
  vertical-align: middle;
  position: relative;
  font-size: 48px;
  color: #2c71f6;
  z-index: 1;
  position: relative\0;
  top: auto\0;
  margin: auto\0;
  line-height: 124px\0;
  color: #fff;
}
/* .home1_cona:hover .icon_box,
.home1_cona:hover .icon_box:before,
.home1_cona:hover .icon_box:after {
  background-color: #2c71f6;
}
.home1_cona:hover .icon_box span.fa {
  color: #fff;
} */
.home1_cona h5 {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin: 40px 0 25px 0;
}
.home1_cona p {
  margin: 0 0 20px 0;
  color: #595959;
  font-size: 14px;
  line-height: normal;
}
.home1_cona a {
  text-transform: uppercase;
}

.home_send .prllx {
  overflow: visible;
}
.home_send .home_titles {
  width: inherit;
  /* margin-right: 54.16667%; */
  margin-left: 0;
  color: #000;
  text-align: center;
}
.is-mobile .home_send .home_titles {
  text-align: center;
  margin: 22vw 0 0;
}
.home_send .home_titles .title {
  font-size: 4.86111vw;
  line-height: 1.1;
}
.is-mobile .home_send .home_titles .title {
  font-size: 13.33333vw;
  line-height: 1.1;
  margin: auto;
}
.nl-NL.is-mobile .home_send .home_titles .title {
  font-size: 12.33333vw;
}
.home_send .home_titles .baseline {
  font-size: 1.11111vw;
  line-height: 1.6;
  /* margin-top: 1.4vw; */
  margin: 1.4vw auto 0 auto;
}
.is-mobile .home_send .home_titles .baseline {
  font-size: 4.26667vw;
  margin: 10vw auto auto;
}
.home_send_video {
  position: absolute;
  left: 20.83333%;
  top: 50%;
  -webkit-transform: translateY(-48%);
  transform: translateY(-48%);
  width: 25%;
  height: 24vw;
}
.home_send_video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0.9999999;
}
.is-mobile .home_send_video {
  position: relative;
  -webkit-transform: none;
  transform: none;
  margin: auto;
  width: 83%;
  height: auto;
  top: 0;
  left: 0;
}
.home_scan {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12vw 0 9vw 0;
  background: #222;
}
.is-mobile .home_scan {
  padding-bottom: 0;
  padding-top: 0;
}
.home_scan .prllx {
  overflow: visible;
}
.home_scan .home_titles {
  width: 41.66667%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin: auto;
  height: auto;
  flex: 1;
}
.is-mobile .home_scan .home_titles {
  width: 100%;
  margin-top: 15vw;
}
.home_scan .home_titles .title {
  font-size: 8.68056vw;
  line-height: 1;
}
.is-mobile .home_scan .home_titles .title {
  font-size: 17.33333vw;
  margin: auto;
  width: 62%;
  line-height: 1.1;
}
.is-mobile .home_scan .home_titles .title br {
  display: none;
}
.home_scan .home_titles .baseline {
  font-size: 1.11111vw;
  line-height: 1.6;
  margin-top: 1.4vw;
}
.is-mobile .home_scan .home_titles .baseline {
  font-size: 4.26667vw;
  width: 91.66667%;
  margin: 12vw auto auto;
}
.home_scan_qr-code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 20.53333vw;
  height: 20.53333vw;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  margin: 5vw auto auto;
  opacity: 0;
  visibility: hidden;
}
.home_scan_qr-code-image {
  width: 50%;
}
.home_scan_qr-code-image:hover {
  cursor: none;
}
.home_scan_qr-code img {
  width: 100%;
}
.home_scan_qr-code svg {
  position: absolute;
  left: 0;
  top: 2.3%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
}
.is-mobile .home_scan_qr-code {
  width: 100vw;
  height: 100vw;
  /* margin-left: -4vw;
  margin-top: 12vw; */
  opacity: 1;
  visibility: visible;
}
.is-mobile .home_scan_qr-code img {
  width: 75%;
  margin: auto;
}
.home_scan_qr-code-wrapper {
  z-index: 2;
  position: relative;
  mix-blend-mode: difference;
}
.is-mobile .home_scan_qr-code-wrapper {
  mix-blend-mode: normal;
}
.home_payment {
  z-index: 3;
  position: relative;
  padding-top: 10vw;
  color: #595959;
  background: #fafafa;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.is-mobile .home_payment {
  padding-top: 30vw;
  /* margin-top: -35vw; */
  background: #fff;
}
.home_payment .prllx {
  overflow: visible;
}
.home_payment .home_titles {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin: auto auto 9vw;
}
.is-mobile .home_payment .home_titles {
  margin-bottom: 20vw;
}
.is-mobile .home_payment .home_titles br {
  display: none;
}
.home_payment .home_titles .title {
  width: 50%;
  color: #151515;
  font-size: 4.86111vw;
  line-height: 1;
}
.is-mobile .home_payment .home_titles .title {
  font-size: 13.33333vw;
  line-height: 1.1;
  width: 83.33333%;
}
.is-mobile .home_payment .home_titles .title br {
  display: none;
}
.de-DE.is-mobile .home_payment .home_titles .title,
.nl-NL.is-mobile .home_payment .home_titles .title {
  font-size: 9.33333vw;
}
.home_payment .home_titles .baseline {
  width: 41.66667%;
  font-size: 1.11111vw;
  line-height: 1.6;
  margin-top: 1.4vw;
}
.is-mobile .home_payment .home_titles .baseline {
  font-size: 4.26667vw;
  width: 86.33333%;
  margin: 5vw auto auto;
}
.home_payment_logos {
  width: 100%;
}
.home_payment_logos > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}
.home_payment_logos span {
  display: block;
}
.home_payment_logos img {
  width: 72vw;
}
.is-mobile .home_payment_logos img {
  width: 130vw;
}
.page_404 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}
.page_404 .home_titles {
  pointer-events: none;
}
.page_404 .title {
  pointer-events: auto;
  font-size: 5.55556vw;
}
.footer-nav-link {
  position: absolute;
  right: 100px;
  display: flex;
}
.footer-nav-link li {
  padding: 0.4em 0 0.4em 0.95em;
}
/* .scrollable {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
} */
/* .home_send{
  height: 100vh;
  background-color: #fff;

}
.home_send .home_titles{
  color: #000;
} */

.section {
  height: 100vh;
  box-sizing: border-box;
}
